﻿@using Schoolmanage.ViewModel.Viewmodel;
@model CreateStudentViewModel

@{
    ViewData["Title"] = "AddStudent";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a herf="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Register Student</></li>
    </ol>
</nav>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Register a New Student</h5>


        <form asp-action="AddStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input type="date" asp-for="DOB" class="form-control">
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-primary">

            </div>

        </form>

    </div>
</div>
