﻿@* @using Schoolmanage.ViewModel.Viewmodel;
@model CreateSessionViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>CreateSessionViewModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="Modelonly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="contorl-label"></label>
                <input readonly asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="contorl-label"></label>
                <input readonly asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

 *@