﻿@* @using Schoolmanage.ViewModel.Viewmodel;
@model CreateGradeViewModel




@{
    ViewData["Title"] = "AddGrade";
}

<h1>AddGrade</h1>

<h4>CreateSessionViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddGrade">
            <div asp-validation-summary="Model" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="contorl-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>


        </form>
    </div>
</div>

 *@