﻿@using Schoolmanage.Utilities;
@using Schoolmanage.ViewModel.Viewmodel;
@model PageResult<GradeViewModel>




@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Name)
                </td>

                <td>
                    @Html.ActionLink("Edit","Edit",new {})
                    @Html.ActionLink("Details","Details",new {})
                    @Html.ActionLink("Delete","Delete",new {})
                </td>
            </tr>
        }
    </tbody>
</table>