﻿
@using Schoolmanage.Utilities;
@using Schoolmanage.ViewModel.Viewmodel;
@model PageResult<TeacherViewModel>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="EnrollStudent">
    <div class="row">
        <div class="col-2-m-0">
            <select class="form-select" name="SessionId" asp-items="@ViewBag.Session">
                <option value="-1">Select Session</option>
            </select>
        </div>
        
        <div class="col-2 m-0 text-start">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        <div class="col-4 text-end">
            <a asp-action="AddTeacher" class="btn btn-primary">Create New</a>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-all" name="SelectAll" />Select All
                </th>
                <th>
                    Id
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    DateofBirth
                </th>
                <th>
                    Registration
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Data.Count(); i++)
            {
                <tr>
                    <td>
                        <input type="checkbox" asp-for="@Model.Data[i].Selected" />
                        <input type="hidden" asp-for="@Model.Data[i].Id" />

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Model.Data[i].Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Model.Data[i].FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Model.Data[i].LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Model.Data[i].DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>Model.Data[i].DateofJoin)
                    </td>
                    <td>
                        @Html.ActionLink("Edit","Edit",new {})
                        @Html.ActionLink("Details","Details",new {})
                        @Html.ActionLink("Delete","Delete",new {})


                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts{
    <script>
        $(function () {
            var selectall = $("#select-all");
            var studentcheckboxes = $("input: checkbox[name ^= 'Data']");

            selectall.change(function () {
                studentcheckboxes.prop('checked', $(this).prop('checked'));
            });


            selectall.change(function () {
                var allChecked = studentcheckboxes.length === studentcheckboxes.filter(":checked").length;
                selectall.prop("checked", allCheck);
            });
        });
    </script>
}